<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>Ecommerce</servlet-name>
        <servlet-class>com.projectx.Books.Controller.Ecommerce</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EcomServlet</servlet-name>
        <servlet-class>com.projectx.Books.Controller.EcomServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookServlet</servlet-name>
        <servlet-class>com.projectx.Books.Controller.BookServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgetPasswordmailSender</servlet-name>
        <servlet-class>com.projectx.Books.Controller.ForgetPasswordmailSender</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionServlet</servlet-name>
        <servlet-class>com.projectx.Books.Controller.SessionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>chatbot</servlet-name>
        <servlet-class>com.projectx.Books.Controller.chatbot</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Ecommerce</servlet-name>
        <url-pattern>/Ecommerce.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookServlet</servlet-name>
        <url-pattern>/book.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgetPasswordmailSender</servlet-name>
        <url-pattern>/ForgetPasswordmailSender</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionServlet</servlet-name>
        <url-pattern>/session.fin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>chatbot</servlet-name>
        <url-pattern>/chatbot</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
</web-app>
